<a href="www.github.com" class="giticon"><i class="fa fa-github"></i></a>
<!--<div class="pooholder"><img src="./../pile_of_poo.svg" class="pooimage"></div> -->
<div class="searchcontain"><input type="text" class="searchbar" value="Search GitHub"></div>
<span class="menutext explore"><a href="https://github.com/explore" class="menulink">Explore</a></span>
<span class="menutext gist"><a href="https://gist.github.com" class="menulink">Gist</span></a>
<span class="menutext blog"><a href="https://github.com/blog" class="menulink">Blog</span></a>
<span class="menutext help"><a href="https://help.github.com" class="menulink">Help</span></a>
<img src="{{userimage}}" class="userimage">
<a href="https://github.com/austineady" class="loginurl"><span class="username">{{username}}</span></a>
<div class="menuicons plus"><span class="octicon octicon-plus"></span><span class="octicon octicon-triangle-down"></span></div>
<div class="menuicons inbox"><span class="octicon octicon-inbox"></span></div>
<div class="menuicons"><span class="octicon octicon-gear"></span></div>
<div class="menuicons"><span class="octicon octicon-sign-out"></span></div>
<button name="login" class="login">Log In</button>
<div class="plushover hovertext">Create new...</div>
<div class="inboxhover hovertext">You have no unread notifications</div>
<div class="settingshover hovertext">Settings</div>
<div class="signouthover hovertext">Sign Out</div>
