@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

/* * {
  border: 1px solid red;
} */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: 0;
}

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

.content {
  @include outer-container(100%);
}

header {
  @include span-columns(12);
  height: 60px;
  background-color: rgba(245, 245, 245, 1);
  border-bottom: 1px solid silver;
  line-height: 50px;
}

.fa-github {
  @include span-columns(.75);
  @include shift(1.5);
  @include omega();
  margin-top: 5px;
  margin-right: 10px;
  font-size: 50px;
}

.pooholder {
  @include span-columns(1);
  @include shift(1);
  height: 60px;
  background-color: black;
}

.pooimage {
  @include span-columns(1);
}

.giticon {
  color: black;
}

.fa-github:hover {
  color: rgba(67, 133, 186, 1);
}

.searchcontain {
  @include span-columns(3.5);
  margin-top: 5px;
}

.searchbar {
  @include span-columns(12);
  margin-top: 10px;
  border-radius: 3px;
  color: rgba(169, 169, 188, 1);
  height: 30px;
  font-size: 15px;
  padding: 5px;
  border: 1px solid silver;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, .1);
}

.menutext {
  @include span-columns(.7);
  line-height: 60px;
  margin-left: 5px;
}

.menulink {
  color: black;
}

.menulink:hover {
  color: rgba(67, 133, 186, 1);
}

.gist {
  @include span-columns(.5);
}

.blog {
  @include span-columns(.5);
}

.menuicons {
  @include span-columns(.5);
  @include omega();
  margin-right: 10px;
  font-size: 20px;
  line-height: 60px;
}

.menuicons:hover {
  color: rgba(67, 133, 186, 1);
}

.plus {
  @include span-columns(.6);
  @include omega();
  margin-right: 5px;
  margin-left: 20px;
}

.plus:hover~.plushover {
  visibility: visible;
}

.inbox:hover~.inboxhover {
  visibility: visible;
}

.hovertext {
  position: absolute;
  visibility: hidden;
  width: auto;
  padding: 3px;
  background-color: rgba(0, 0, 0, .8);
  font-size: 15px;
  color: white;
  text-align: center;
  height: 35px;
  line-height: 30px;
  border-radius: 3px;
}

.plushover {
  right: 190px;
}

.inboxhover {
  right: 100px;
}

.octicon {
  font-size: 20px;
}

.octicon-triangle-down {
  margin-left: 3px;
  font-size: 15px;
}

.octicon-sign-out {
  font-size: 18px;
}

.login {
  @include span-columns(1);
  height: 40px;
  line-height: 30px;
  border-radius: 5px;
  margin-top: 5px;
  background: -webkit-linear-gradient(rgba(251, 251, 251, 1), rgba(238, 238, 238, 1));
  border: 1px solid rgba(221, 221, 221, 1);
}

.userimage {
  @include span-columns(.55);
  @include omega();
  margin-top: 15px;
  margin-right: 5px;
  height: 30px;
  border-radius: 3px;
}

.username {
  @include span-columns(1);
  @include omega();
  margin-right: 10px;
  line-height: 60px;
}

.loginurl {
  color: black;
  margin-right: 10px;
}

.loginurl:hover {
  color: rgba(67, 133, 186, 1);
}

.sidebar {
  @include span-columns(3);
  @include shift(1);
  margin-top: 20px;
}

.profileimage {
  @include span-columns(12);
  border-radius: 5px;
}

.profilename {
  margin-bottom: 0px;
}

.profileusername {
  font-weight: 300;
  margin-top: 0px;
  color: rgba(102, 102, 102, 1);
}

.sideline {
  @include span-columns(12);
  border: 1px solid rgba(0, 0, 0, .1);
  margin-top: 15px;
  margin-bottom: 15px;
}

span > i {
  color: rgba(204, 204, 204, 1);
  margin-right: 5px;
}

.fa-map-marker {
  font-size: 20px;
  margin-left: 2px;
  margin-right: 7px;
}

.fa-clock-o {
  margin-left: 2px;
}

.country {
  @include span-columns(12);
  margin-bottom: 5px;
}

.emaillink {
  color: rgba(67, 133, 186, 1);
}

.emaillink:hover {
  text-decoration: underline;
}

.email {
  @include span-columns(12);
  margin-bottom: 5px;
}

.joindate {
  @include span-columns(12);
  margin-bottom: 5px;
}

.socialcontain {
  @include span-columns(12);
  height: auto;
}

.socialbox {
  @include span-columns(3.5);
  height: 50px;
  text-align: center;
  margin-left: 5px;
}

.followersocialnumber {
  @include span-columns(12);
  font-size: 30px;
  color: rgba(66, 132, 191, 1);
  font-weight: bold;
}

.starredsocialnumber {
  @include span-columns(12);
  font-size: 30px;
  color: rgba(66, 132, 191, 1);
  font-weight: bold;
}

.followingsocialnumber {
  @include span-columns(12);
  font-size: 30px;
  color: rgba(66, 132, 191, 1);
  font-weight: bold;
}

.socialtext {
  @include span-columns(12);
  font-size: 11px;
}

.sociallink {
  color: rgba(153, 153, 153, 1);
  font-weight: 300;
}

.sociallink:hover {
  color: rgba(67, 133, 186, 1);
}

.organizations {
  font-size: 20px;
}

.organizepic {
  @include span-columns(3);
  border-radius: 5px;
}

.maincontent {
  @include span-columns(7.5);
  margin-top: 20px;
}

.tabcontain {
  @include span-columns(12);
  border-bottom: 1px solid rgba(221, 221, 221, 1);
  margin-bottom: 10px;
}

.tabhead {
  @include span-columns(2.4);
  @include omega();
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(250, 250, 250, 1);
}

.tabhead:hover {
  border-top: 1px solid rgba(221, 221, 221, 1);
  border-right: 1px solid rgba(221, 221, 221, 1);
  border-left: 1px solid rgba(221, 221, 221, 1);
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(255, 255, 255, 1);
}

.repositories {
  border-top: 1px solid rgba(221, 221, 221, 1);
  border-right: 1px solid rgba(221, 221, 221, 1);
  border-left: 1px solid rgba(221, 221, 221, 1);
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(255, 255, 255, 1);
}

.octicon-diff-added {
  margin-right: 5px;
}

.octicon-rss {
  margin-right: 5px;
}

.octicon-pencil {
  margin-right: 5px;
}

.edit {
  @include span-columns(2.1);
  float: right;
  border-radius: 3px;
  background: -webkit-linear-gradient(rgba(251, 251, 251, 1), rgba(238, 238, 238, 1));
  border: 1px solid rgba(221, 221, 221, 1);
  margin-top: 5px;
}


.repoheader {
  @include span-columns(12);
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
}

.findarepo {
  @include span-columns(4);
  @include omega();
  margin-right: 5px;
  height: 35px;
  color: rgba(169, 169, 188, 1);
  border: 1px solid silver;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, .1);
  border-radius: 3px;
  padding: 5px;
}

.searchbutt {
  @include span-columns(1.5);
  @include omega();
  background: -webkit-linear-gradient(rgba(251, 251, 251, 1), rgba(238, 238, 238, 1));
  border: 1px solid rgba(221, 221, 221, 1);
  height: 35px;
  border-radius: 3px;
}

.repomenu {
  @include span-columns(1.2);
  @include omega();
  margin-top: 10px;
  margin-left: 10px;
  color: rgba(65, 131, 196, 1);
}

.all {
  @include span-columns(.5);
  @include omega();
  margin-right: 10px;
}

.forks {
  @include span-columns(1);
  @include omega();
}

.public {
  @include span-columns(1);
  @include omega();
  margin-left: 5px;
}

.private {
  @include span-columns(1);
  @include omega();
}

.octicon-repo {
  margin-right: 5px;
}

.newrepo {
  @include span-columns(1.4);
  @include omega();
  margin-left: 5px;
  border-radius: 3px;
  height: 35px;
  border: 1px solid rgba(90, 169, 81, 1);
  background: -webkit-linear-gradient(rgba(135, 220, 123, 1), rgba(94, 176, 84, 1));
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  text-shadow: 0 -2px 2px rgba(103, 176, 93, 1);
}

.repobox {
  @include span-columns(12);
  height: auto;
}

.repo {
  @include span-columns(12);
  margin-top: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 10px;
}

.titlebox {
  @include span-columns(8 of 12);
}

.repotitle {
  @include span-columns(12);
  color: rgba(66, 132, 191, 1);
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.repotitle:hover {
  text-decoration: underline;
}

.forktext {
  @include span-columns(12);
  color: rgba(136, 136, 136, 1);
  margin-bottom: 10px;
}

.forklink {
  color: rgba(136, 136, 136, 1);
}

.forklink:hover {
  text-decoration: underline;
}

.update {
  @include span-columns(12);
}

.languagebox {
  @include span-columns(4 of 12);
}

.repolanguage {
  @include shift(4 of 12);
  margin-top: 10px;
}

footer {
  @include span-columns(12);
  height: 100px;
  margin-top: 30px;
  border-top: 1px solid silver;
  line-height: 100px;
}

.footertext {
  @include span-columns(.8);
}

.footlink {
  color: rgba(67, 133, 186, 1);
}

.footlink:hover {
  text-decoration: underline;
}

.octicon-mark-github {
  @include span-columns(1);
  margin-top: 30px;
  margin-left: 90px;
  margin-right: 50px;
  color: rgba(0, 0, 0, .2);
}

.copyright {
  @include span-columns(1.7);
  margin-left: 20px;
  color: rgba(0, 0, 0, .3);
}

.api {
  @include span-columns(.5);
}
